root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[{*.cpp,*.h}]
insert_final_newline = true

[*.yaml]
indent_size = 2
tab_width = 2

[CMakePresets.json]
indent_size = 2
tab_width = 2

[*.cmake]
indent_size = 2
tab_width = 2